.DS_Store
.swift-version

*.orig
*.app

Instruments/ActorInstruments/ActorInstruments.xcodeproj/xcuserdata
Instruments/ActorInstruments/build/
Instruments/ActorInstruments/ActorInstruments.xcodeproj/project.xcworkspace/xcuserdata

Samples/swift-distributed-actors-samples.xcodeproj

/.build
/Samples/.build
/.SourceKitten
/Packages
.xcode
*.app
/*.xcodeproj
SwiftDistributedActors.xcworkspace
.xcode
.idea
IntegrationTests/tests_04_cluster/.build

# rendered docs output dirs
/reference/
/api/
.swiftpm/
Package.resolved

.GenActorInstruments-sanity.instrpkg 
