.DS_Store
.swift-version

*.orig
*.app

/.build
/Samples/.build
/.SourceKitten
/Packages
.xcode
*.app
/*.xcodeproj
SwiftDistributedActors.xcworkspace
.xcode
.idea

# rendered docs output dirs
/reference/
/api/
.swiftpm/
Package.resolved
