# file options

--exclude .build

# format options

--comments ignore
--ifdef no-indent
--patternlet inline
--self insert
--stripunusedargs unnamed-only
--wraparguments before-first

# rules

--disable blankLinesAroundMark
