# file options

--exclude .build
--exclude "**/*.pb.swift"
--exclude "**/*+GenActor.swift"

# format options

--comments ignore
--ifdef no-indent
--patternlet inline
--self insert
--stripunusedargs closure-only
--wraparguments before-first

# rules

--disable blankLinesAroundMark
