.listingblock .pygments { background: #ffffff; font-size: 14px; font-family: Menlo, monospace; line-height: 18px; }
.listingblock .pygments .tok-c, .pygments .cm, .pygments .cp, .pygments .c1, .pygments .cs { color: #007400; } /* Comment, Comment.Multiline, Comment.Preproc, Comment.Single, Comment.Special */
.listingblock .pygments .tok-k, .pygments .kc, .pygments .kd, .pygments .kp, .pygments .kr, .pygments .nb { color: #AA0D91; } /* Keyword, Keyword.Constant, Keyword.Declaration, Keyword.Pseudo, Name.Builtin */
.listingblock .pygments .tok-kt { color: #3F6E74 } /* Keyword.Reserved */
.listingblock .pygments .tok-err { color: #a61717; } /* Error */
.listingblock .pygments .tok-o { font-weight: bold } /* Operator */
.listingblock .pygments .tok-gd { color: #000000;background-color: #fdd } /* Generic.Deleted */
.listingblock .pygments .tok-gd .x { color: #000000;background-color: #faa } /* Generic.Deleted.Specific */
.listingblock .pygments .tok-ge { font-style:italic } /* Generic.Emph */
.listingblock .pygments .tok-gr { color: #a00 } /* Generic.Error */
.listingblock .pygments .tok-gh { color: #999 } /* Generic.Heading */
.listingblock .pygments .tok-gi { color: #000000;background-color: #dfd } /* Generic.Inserted */
.listingblock .pygments .tok-gi .x { color: #000000;background-color: #afa } /* Generic.Inserted.Specific */
.listingblock .pygments .tok-go { color: #888 } /* Generic.Output */
.listingblock .pygments .tok-gp { color: #555 } /* Generic.Prompt */
.listingblock .pygments .tok-gs { font-weight:bold } /* Generic.Strong */
.listingblock .pygments .tok-gu { color: #aaa } /* Generic.Subheading */
.listingblock .pygments .tok-gt { color: #a00 } /* Generic.Traceback */
.listingblock .pygments .tok-m, .pygments .mf, .pygments .mh, .pygments .mi, .pygments .mo { color: #1C00CF; } /* Literal.Number, Literal.Number.Float, Literal.Number.Hex, Literal.Number.Integer, Literal.Number.Oct */
.listingblock .pygments .tok-s { color: #C41A16; } /* Literal.String */
.listingblock .pygments .tok-na { color:teal }     /* Name.Attribute */
.listingblock .pygments .tok-nc { color: #5C2699 } /* Name.Class */
.listingblock .pygments .tok-no { color: teal }    /* Name.Constant */
.listingblock .pygments .tok-ni { color: purple }  /* Name.Entity */
.listingblock .pygments .tok-ne { color: #990000 } /* Name.Exception */
.listingblock .pygments .tok-nn { color: #555 }    /* Name.Namespace */
.listingblock .pygments .tok-nt { color: navy } 	  /* Name.Tag */
.listingblock .pygments .tok-nv, .pygments .nf { color: #3F6E74 } /* Name.Variable, Name.Function */
.listingblock .pygments .tok-ow { font-weight:bold } /* Operator.Word */
.listingblock .pygments .tok-w { color: #bbb } /* Text.Whitespace */
.listingblock .pygments .tok-sb { color: #d14 } /* Literal.String.Backtick */
.listingblock .pygments .tok-sc { color: #d14 } /* Literal.String.Char */
.listingblock .pygments .tok-sd { color: #d14 } /* Literal.String.Doc */
.listingblock .pygments .tok-s2 { color: #d14 } /* Literal.String.Double */
.listingblock .pygments .tok-se { color: #d14 } /* Literal.String.Escape */
.listingblock .pygments .tok-sh { color: #d14 } /* Literal.String.Heredoc */
.listingblock .pygments .tok-si { color: #d14 } /* Literal.String.Interpol */
.listingblock .pygments .tok-sx { color: #d14 } /* Literal.String.Other */
.listingblock .pygments .tok-sr { color: #009926 } /* Literal.String.Regex */
.listingblock .pygments .tok-s1 { color: #d14 } /* Literal.String.Single */
.listingblock .pygments .tok-ss { color: #990073 } /* Literal.String.Symbol */
.listingblock .pygments .tok-bp { color: #999 } /* Name.Builtin.Pseudo */
.listingblock .pygments .tok-vc { color:teal } /* Name.Variable.Class */
.listingblock .pygments .tok-vg { color:teal } /* Name.Variable.Global */
.listingblock .pygments .tok-vi { color:teal } /* Name.Variable.Instance */
.listingblock .pygments .tok-il { color: #099 } /* Literal.Number.Integer.Long */
.listingblock .pygments, .listingblock .pygments code { background: none; }
