# this file is not designed to be run directly
# instead, use the docker-compose.<os>.<swift> files
# eg docker-compose -f docker/docker-compose.yaml -f docker/docker-compose.1604.51.yaml run test
version: "3"

services:

  runtime-setup:
    image: swift-distributed-actors:default
    build:
      context: .
      dockerfile: Dockerfile

  common: &common
    image: swift-distributed-actors:default
    depends_on: [runtime-setup]
    volumes:
      - ~/.ssh:/root/.ssh
      - ..:/code:z
    working_dir: /code
    cap_drop:
      - CAP_NET_RAW
      - CAP_NET_BIND_SERVICE
    environment:
      - MAX_ALLOCS_ALLOWED_001_actor_address=5
      - MAX_ALLOCS_ALLOWED_002_actor_spawn=56
      - SWIFTPM_ENABLE_PLUGINS=1 # temp while feature is experimental

  soundness:
    <<: *common
    command: /bin/bash -cl "./scripts/soundness.sh"

  unit-tests:
    <<: *common
    command: /bin/bash -cl "swift test $${EXPLICIT_TARGET_DEPENDENCY_IMPORT_CHECK-}"

  unit-tests-until-failure:
    <<: *common
    command: /bin/bash -cl "while swift test; do :; done"

  integration-tests:
    <<: *common
    command: /bin/bash -cl "swift package --disable-sandbox multi-node test"

  test:
    <<: *common
    command: /bin/bash -cl "swift -version; SACT_WARNINGS_AS_ERRORS=yes swift test --no-parallel $${EXPLICIT_TARGET_DEPENDENCY_IMPORT_CHECK-} -Xswiftc -DSACT_TESTS_LEAKS"

  # util

  shell:
    <<: *common
    entrypoint: /bin/bash -l

  # samples

  sample-philosophers:
    <<: *common
    command: /bin/bash -cl "swift run --package-path Samples SampleDiningPhilosophers"

  sample-philosophers-dist:
    <<: *common
    command: /bin/bash -cl "swift run --package-path Samples SampleDiningPhilosophers"
