#toctitle {
    color: #333;
    font-weight: 400;
    background-image: url("../images/sact.png");
    background-repeat: no-repeat;
    background-position: left;
    padding: 20px 0 13px 55px;
    margin-bottom: 20px;
}

#toc.toc2 #toctitle {
    font-size: 1.8em;
}

.toc-root {
    color: #333;
    font-weight: 600;
    text-transform: lowercase;
    font-variant: small-caps;
}


#toc {
    width: 250px;
    position: fixed;
    overflow: scroll;
    left: 0;
    top: 0;
    bottom: 0;
    background: #FAFAFA;
    border-right: 1px solid #e6e6e6;
    padding: 20px 30px
}

#toc ul {
    border-top: 1px solid #e6e6e6;
    font-weight: 400;
    margin-bottom: 20px;
    list-style: none;
}

#toc .sectlevel1 {
    text-transform: lowercase;
    font-variant: small-caps;
}

#toc .sectlevel2 {
    font-variant: none;
}

#toc ul ul {
    list-style: none
}

#toc ul li {
    border-bottom: 1px solid #e6e6e6
}

#toc ul li.active {
    border-bottom: 1px solid #333;
}

#toc ul li.active a {
    font-weight: 700
}

#toc ul li a:link {
    text-decoration: none;
    color: #333;
    letter-spacing: 1px;
    display: block;
    padding: 10px;
}

#toc ul li a:visited {
    color: #333
}

#toc ul li a:active {
    font-weight: 600
}

#toc ul li a:hover {
    color: #0088cc;
    text-decoration: none;
}

#toc ul li ul {
    margin-bottom: 10px;
    border-top: none
}

#toc ul li ul li {
    border-bottom: none;
    padding: 0.1em
}

#toc ul li ul li.active {
    border-bottom: none
}

#toc ul li ul li.active a {
    font-weight: 700
}

#toc ul li ul a:link {
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0;
    font-size: 13px;
    display: block;
    margin-left: 15px;
    padding: 0 0 3px;
    border-bottom: none;
    font-weight: 300
}

#toc ul li ul a:hover {
    text-decoration: none
}

#toc h2 {
    font-size: 0.75em;
    font-weight: 600;
    text-transform: lowercase;
    font-variant: small-caps;
    color: #999;
    padding-bottom: 0.5em
}


#header h1 {
    display: none;
}

h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6 {
    font-weight: 300;
    font-style: normal;
    /*color: #ba3925;*/
    text-rendering: optimizeLegibility;
    margin-top: .5em;
    margin-bottom: .8em;
}

pre {
    border-left: 5px solid rgba(205, 233, 244, 1)
}

#footer {
    font-size: 0.625em;
    color: #ccc;
    line-height: 2em;
    padding: 2em;
}


.admonitionblock {
    background-color: #f5f5f5;
}

.admonitionblock.note {
    border-left: solid 5px #0088cc;
}

.admonitionblock.tip {
    border-left: solid 5px #ccc;
}

.admonitionblock.important {
    border-left: solid 5px #EE002A;
}

.admonitionblock.caution {
    border-left: solid 5px #EE002A;
}

.admonitionblock.warning {
    background-color: #FFFFEB;
}

p > code, li > code, dd > code, blockquote > code, td > code {
    color: #666;
    padding: 3px;
    font-size: 0.9em;
    font-family: Menlo, Consolas, Monaco, "Courier New", monospace, serif;
    border: none;
    background-color: transparent;
}

a {
    color: #577492;
}

a:hover {
    color: #0088cc;
}

a:visited {
    color: #577492;
}

.quoteblock blockquote::before {
    content: "\201c";
    float: left;
    font-size: 2.75em;
    font-weight: bold;
    line-height: .6em;
    margin-left: -.6em;
    color: #6b95b0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}

/* css for swiftdoc links from api: macro */

.api-struct a {
    color: #008080 !important;
}
.api-struct .api-tooltiptext {
    background-color: #008080;
}
.api-struct .api-tooltip .api-tooltiptext::after {
    border-color: transparent transparent #008080 transparent;
}

.api-enum a {
    color: #008080;
}
.api-enum .api-tooltiptext {
    background-color: #008080;
}
.api-enum .api-tooltip .api-tooltiptext::after {
    border-color: transparent transparent #008080 transparent;
}

.api-class a {
    color: #769AA5 !important;
}
.api-class .api-tooltiptext {
    background-color: #769AA5;
}
.api-class .api-tooltip .api-tooltiptext::after {
    border-color: transparent transparent #769AA5 transparent;
}

.api-protocol a {
    color: #50861A;
}
.api-protocol .api-tooltiptext {
    background-color: #50861A;
}
.api-protocol .api-tooltip .api-tooltiptext::after {
    border-color: transparent transparent #50861A transparent;
}

.api-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.api-tooltip:hover {
    text-decoration: none;
}
.api-tooltiptext {
    visibility: hidden;
    font-family: Menlo, Consolas, Monaco, "Courier New", monospace, serif;
    font-size: 12px;
    background-color: black;
    color: #fff;
    position: absolute;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    white-space: pre;

    /* Position the tooltip text - see examples below! */
    top: 120%;
    /*left: 50%;*/
    margin-left: -50%; /* Use half of the width (120/2 = 60), to center the tooltip */

    display: block;
    z-index: 1;
}
.api-tooltip .api-tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.api-tooltip:hover .api-tooltiptext {
    visibility: visible;
}
