name: PR

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      shell_check_enabled: false
      format_check_enabled: false
      license_header_check_project_name: "Swift Distributed Actors"
      # We need to move to 6.0 here but have to fix the new warnings first
      docs_check_container_image: "swift:5.10-noble"

  unit-tests:
    name: Unit tests
    uses: apple/swift-nio/.github/workflows/unit_tests.yml@main
    with:
      linux_5_9_enabled: false
      linux_5_10_arguments_override: "-Xswiftc -warnings-as-errors --explicit-target-dependency-import-check error"
      linux_6_0_arguments_override: "-Xswiftc -warnings-as-errors --explicit-target-dependency-import-check error -Xswiftc -require-explicit-sendable"
      linux_nightly_6_0_arguments_override: "--explicit-target-dependency-import-check error -Xswiftc -require-explicit-sendable"
      linux_nightly_main_arguments_override: "--explicit-target-dependency-import-check error -Xswiftc -require-explicit-sendable"

  integration-tests:
    name: Integration tests
    uses: apple/swift-nio/.github/workflows/swift_matrix.yml@main
    with:
      name: "Integration tests"
      matrix_linux_5_9_enabled: false
      matrix_linux_command: "swift package --disable-sandbox multi-node test"

  sample-philosophers:
    name: Sample dining philosophers
    uses: apple/swift-nio/.github/workflows/swift_matrix.yml@main
    with:
      name: "Sample dining philosophers"
      matrix_linux_5_9_enabled: false
      matrix_linux_command: "swift run --package-path Samples SampleDiningPhilosophers"

  cxx-interop:
    name: Cxx interop
    uses: apple/swift-nio/.github/workflows/cxx_interop.yml@main
    with:
      linux_5_9_enabled: false
