name: PR

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      api_breakage_check_enabled: false
      license_header_check_project_name: "Swift Distributed Actors"

  unit-tests:
    name: Unit tests
    uses: apple/swift-nio/.github/workflows/swift_matrix.yml@main
    with:
      name: "Unit tests"
      matrix_linux_command: "swift test"
      matrix_linux_5_9_enabled: false
      matrix_linux_5_10_enabled: false
      matrix_linux_6_0_enabled: true
      matrix_linux_nightly_6_0_enabled: true
      matrix_linux_nightly_main_enabled: true
      matrix_windows_6_0_enabled: false
      matrix_windows_nightly_6_0_enabled: false
      matrix_windows_nightly_main_enabled: false
